/* Archive Navigation */
#archive-container ul {
  margin: 0;
  padding: 4px 10px 4px 10px;
  border-bottom: 1px solid #ddd;
}

ul#archive-days {
  border: 0px;
}

#archive-container ul li {
  margin: 0;
  padding: 0 0.2em;
  display: inline;
  background-image: none;
  list-style-type: none;
}

#archive-container .selected {
  border-bottom: 4px solid #ddd;
}

#archive-container .future {
  color: #aaa;
}

#archive-container dt {
  font-weight: bold;
  margin: 0.5em 0 0 0;
  padding: 0.2em 0.5em;
  background-color: #eee;
}

#archive-container dd {
  margin: 0;
  border: 1px solid #eee;
}